.whole-card{
  height: 90%;
  min-width: 300px;
  width: 85dvw;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid gray;
  border-radius: 20px;
  box-shadow: 25px 25px 40px 0px rgba(0,0,0,0.33);
}
.card-container{
  height: 30% !important;
  width: 100%;
}
.map-container{
  height: 40% !important;
  overflow: hidden;
  width: 100%;
  border: 1px solid black;
}

.weather-widget{
	width: 100%;
}
.weather-panel {
/*  background-image: url("https://unsplash.it/600/400?image=1043&blur");*/
  background-color: #000;
  background-size: cover;
  border-radius: 20px;
  color: #fff;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: space-around;
  width: 100% !important;

  small {
    color: inherit;
    font-size: 50%;
  }
  ul.forecast > li {
    border-top: 1px solid #fff;
  }
  .temperature {
    & > span {
        font-size: 2em;
    }
  }
}